#about-us img
{
    display: inline-block;
    width: 477px;
    height: 304px;
}

#about-us h2
{
    width: 195px;
    height: 36px;
    margin-left: 75px;
    margin-top: 164px;
    margin-bottom: 91px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.imageAndText
{
    margin: 0px 64px;
    width: 100%;
}

.imageAndText div
{
    margin: 0px 10px;
    position: relative;
    bottom: 150px;
    display: inline-block;
    height: 100%;
    width: 507px;
    vertical-align: middle;
}

.imageAndText h3
{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.imageAndText p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
}
