#features h2
{
    margin-left: 177px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

.features-product
{
    display: inline-block;
    margin-left: 244px;
    margin-top: 49px;
    width: 252px;
}

.features-product h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
    margin-bottom: 22px;
}