#products img
{
    width: 384px;
    height: 284px;
}

#products article
{
    display: inline-block;
    margin-left: 110px;
    width: 384px;
    height: 531px;
}

#products h3
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24.4762px;
    line-height: 30px;
}

#products p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19.581px;
    line-height: 24px;
}

#products li
{
    margin-left: 80px;
    list-style-type: circle;
}

#products h2
{
    width: 195px;
    height: 36px;
    margin-left: 75px;
    margin-top: 164px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}