body
{
    font-family: 'Roboto';
    font-style: normal;
}

main
{
    width: 1259px;
    padding-top: 155px;
    padding-left: 253px;
}

footer
{
    width: 1259px;
    padding-top: 155px;
    padding-left: 253px;
}