#inscription-form h2
{
    margin-left: 76px;
    margin-top: 238px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

#inscription-form form
{
    margin-top: 70px;
}

#fname
{
    margin-left: 83px;
    height: 37px;
    width: 554px;
    border: 1px solid #373867;
    border-radius: 4px;
}

#fname::placeholder
{
    padding-left: 12px;
    color: #373867;
    opacity: 0.5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


#email
{
    margin-left: 20px;
    display: inline;
    width: 554px;
    height: 37px;
    border: 1px solid #373867;
    border-radius: 4px;
}

#email::placeholder
{
    padding-left: 12px;
    color: #373867;
    opacity: 0.5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#contactArea
{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 83px;
    width: 1128px;
    height: 36px;
    border: 1px solid #373867;
    border-radius: 4px;
}

#message
{
    margin-left: 83px;
    width: 1116px;
    height: 411px;
}

.switch
{
    margin-left: 83px;
    display: inline-block;
    width: 40%;
    height: 64px;
}

