#home h2
{
    width: 307px;
    height: 81px;
    margin-left: 474px;
    margin-top: 74px;
    padding: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 49.3617px;
    line-height: 58px;

    color: #373867;

    box-sizing: border-box;


    background: rgba(170, 206, 155, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
    text-align: center;
}

#home div
{
    width: 1259px;
    height: 709px;
    filter: blur(0.5px);
}

#home div img
{
    width: 500px;
    height: 272.52px;
    margin-left: 44px;
    top: 312.56px;
    border: 0.75px solid #000000;
}

#home div p
{
    display: inline-block;
    width: 546px;
    height: 457.4px;
    margin-left: 134px;
    margin-top: 118px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28.8453px;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: #373867;
}