#why-us h2
{
    margin-top: 293px;
    margin-left: 293px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

#why-us article
{
    display: inline-block;
    width: 41%;
    margin: 54px;
}

.why-us-reason div
{
    display: inline-block;
    width: 50%;
}

.why-us-reason div h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
}